大文字小文字の違いを無視する:YES
_Rename.csvを利用する:NO
_Replace.csvを利用する:YES
FORM中の三連記号を展開しない:YES
マウスを使用する:YES
メニューを使用する:YES
デバッグコマンドを使用する:YES
多重起動を許可する:YES
オートセーブを行なう:YES
キーボードマクロを使用する:YES
ウィンドウの高さを可変にする:YES
描画インターフェース:WINAPI
イメージバッファを使用する:YES
ウィンドウ幅:800
ウィンドウ高さ:820
ウィンドウ位置X:200
ウィンドウ位置Y:0
起動時のウィンドウ位置を指定する:YES
履歴ログの行数:5000
PRINTCを並べる数:3
PRINTCの文字数:32
フォント名:ＭＳ ゴシック
フォントサイズ:15
一行の高さ:17
文字色:192,192,192
背景色:0,0,0
選択中文字色:255,255,0
履歴文字色:192,192,192
フレーム毎秒:20
最大スキップフレーム数:3
スクロール行数:5
無限ループ警告までのミリ秒数:5000
表示する最低警告レベル:0
ロード時にレポートを表示する:NO
ロード時に引数を解析する:NO
ロード時にFORM文字列を解析する:YES
呼び出されなかった関数を無視する:YES
関数が見つからない警告の扱い:IGNORE
関数が呼び出されなかった警告の扱い:IGNORE
ボタンの途中で行を折りかえさない:NO
サブディレクトリを検索する:YES
読み込み順をファイル名順にソートする:NO
表示するセーブデータ数:20
eramaker互換性に関する警告を表示する:NO
システム関数の上書きを許可する:YES
システム関数が上書きされたとき警告を表示する:YES
